<!DOCTYPE html>
<html ng-app>
    <head>
        <script src="AngularJs-1.3.10/angular.min.js"></script>
    </head>
    <body>
        <script>
it('should show of angular binding', function() {
   expect(binding('qty * cost')).toEqual('$19.95');
   input('qty').enter('2');
   input('cost').enter('5.00');
   expect(binding('qty * cost')).toEqual('$10.00');});
</script>
        <div ng-controller="InvoiceCntl">
            <b>Invoice:</b>
            <br>
            <br>
            <table>
                <tr>
                    <td>Quantity</td><td>Cost</td>
                </tr>
                <tr>
                    <td><input type="integer" min="0" ng-model="qty" required ></td>
                    <td><input type="number" ng-model="cost" required ></td>
                </tr>
            </table>
            <hr>
            <b>Total:</b> {{qty * cost | currency}}
       </div>
    </body>
</html>

